*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
:root{
    --font-heading:Sen,sans-serif;
    --primary-color:#FFB900;
}
body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* common */
a{
    text-decoration: none;
}
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn{
    display: inline-block;
    padding: 0 16px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border-radius: 999px;
    background: #171100;
    line-height: 50px;
    min-width: 118px;
}
.btn:hover{
    opacity: 0.9;
}

.heading{
    color: #171100;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -1.16px;
}
.heading.lv1{
    font-size: 5.8rem;
    line-height: 1.17;
}
.heading.lv2{
    font-size: 3.8rem;
    line-height: 1.26;
}
.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp,1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp.line-2{
    --line-clamp:2;
}
.break-all{
    word-break: break-all;
}
/* =================header============ */
.header{
    background: #FFFCF4;
}
.header.fixed{
    position: sticky;
    top:-28px;
    z-index: 1;
}
.header .body{
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
.nav{
    margin-left: auto;
}
.nav ul{
    display: flex;
}
.nav a{
    position: relative;
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height:1.75;
    padding: 8px 21px;
}
.nav a:hover,
.nav li.active a{
    /* font-weight: 600; */
    text-shadow: 0.01px 0 0 currentColor;
    color: #171100;
}
.nav li.active a::after{
    position: absolute;
    content:"";
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
    left: 21px;
    bottom: 6px;
}
.header .sign-up{
    min-width: 144px;
}
.header .action{
    margin-left: 49px;
}
/* =================hero============ */
.hero{
    padding: 56px 0 65px;
    background: #FFFCF4;
}
.hero .body{
    display: flex;
}
.hero .meadia-block{
    position: relative;
    width: 48%;
    /* margin-left: 135px; */
}
.hero .content-block{
    padding: 64px 0 0 130px;
    width: 52%;
}
.hero .meadia-block .img{
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .hero-summary{
    position: absolute;
    right: 0;
    bottom: 48px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    width: 270px;
    padding: 28px 24px;
}
.hero .hero-summary .item{
    display: flex;
}
.hero .hero-summary .item + .item{
    margin-top: 22px;
}

.hero .hero-summary .item .icon{
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display:flex;
    align-items:center;
    justify-content:center;
    background: #FFF9E8;
}
.hero .hero-summary .item:nth-child(2) .icon{
    background: #FCEFFF;
}
.hero .hero-summary .item:nth-child(3) .icon{
    background: #EBEAFF;
}
.hero .hero-summary .info{
    margin-left: 16px;
}
.hero .hero-summary .label{
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}
.hero .hero-summary .title{
    color: #171100;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.67;
}

.hero .content-block .desc{
    margin: 22px 0;
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}
.hero .cta-group{
    display: flex;
    align-items:center;
    margin: 38px 0 48px;
}
.hero .hero-cta{
    min-width: 180px;
    border-radius: 32px;
    background: #FFB900;
    line-height: 64px;
}
.hero .watch-video{
    align-items: center;
    margin-left: 28px;
    border: none;
    background: #FFFCF4;
    display: flex;
    cursor: pointer;
}
.hero .watch-video .icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    display:flex;
    align-items:center;
    justify-content:center;
}
.hero .watch-video .desc{
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}
.hero strong{
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
}
.hero strong:nth-child(2){
    margin-left: 28px;
}
.hero .stats{
    margin-top: 8px;
}
/* ==================popular==================== */
.popular{
    padding: 65px 0;
    margin-top: 135px;
}
.popular-top .desc{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.7;
    margin-top: 16px;
    width: 458px;
}
.popular-top{
    display: flex;
    justify-content: space-between;
}
.popular-top .control{
    display: flex;
    gap: 18px;
}

.popular-top .control-btn{
    width: 40px;
    height: 40px;
    display:flex;
    align-items:center;
    justify-content:center;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: transparent;
    border-radius: 50%;
}
.popular-top{
    align-items: center;
}
.popular-top .control-btn:hover{
    cursor: pointer;
    background: var(--primary-color);
    color: #FFF;
}
.popular .course-list{
    display: flex;
    gap: 30px;
    margin-top: 55px;
}
.popular .course-item{
    flex: 1;
    border-radius: 12px;
    border: 1px solid #E2DFDA;
    background: #FFF;
}
.popular .course-item:hover{
    border-color: transparent;
    /* transparent : trong suot */
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.1);
}
.popular .course-item .thumb{
    margin: -1px;
    width: calc(100% + 2px);
    border-radius: 12px 12px 0px 0px;
    height: 278px;
    object-fit: cover;
}

.popular .course-item .info{
    padding: 16px 22px 22px 22px;
}

.popular .course-item .rating,
.popular .course-item .foot,
.popular .course-item .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular .course-item .title a{
    padding-right:6px ;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.popular .course-item .desc{
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}
.popular .course-item .value{
    color: #FEA31B;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-left: 6px;
}
.popular .course-item .price{
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}
.popular .course-item .foot {
    margin-top: 12px;
}
.popular .course-item .special-btn{
    border: none;
}
.popular .course-item .btn:hover{
    cursor: pointer;
    background: var(--primary-color);
    color:#FFF;
}

/* ================feedback================ */
.feedback{
    margin-top: 135px;
    padding: 96px 0;
    background: #2E2100;
}
.feedback-list{
    display: flex;
    overflow: hidden;
}
.feedback-item {
    display: flex;
    width: 100%;
    flex-shrink: 0;
}
.feedback-item .avatar{
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}
.feedback-item .title{
    margin-top: 18px;
    color: #F7F7F7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;
}
.feedback-item .desc{
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}
.feedback-item blockquote{
    color: #FFF;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
}
.feedback-item .dots{
    display: flex;
    margin-top: 28px;
}
.feedback-item .dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    margin-right: 6px;
    cursor: pointer;
}
.feedback-item .dot.active{
    background: #FFB900;
    cursor: default;
}
.feedback-item .content{
    width: 66%;
    margin-left: auto;
}
/* ====================features===================== */
.features{
    margin-top: 135px;
    padding:65px 0;
}
.features .body{
    display: flex;
    justify-content: space-between;
}
.features .images{
    display: flex;
    gap:0 30px;
}

.features .images img{
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}
.features .images img.lower{
    margin-top: 34px;
}
.features .content{
    width: 41%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.features .desc{
    margin-top: 16px;
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.features .feature-btn{
    width: 137px;
    color: #FFF;
    background: var(--primary-color);
    margin-top: 32px;
}
.features-2nd{
    margin-top: 70px;
}
.features-2nd .body{
    flex-direction: row-reverse;
}
.features-2nd .content{
    width: 49%;
}
.features-2nd .images img{
    width: 470px;
    height: 440px;
}
/* =================blog=============== */
.blogs{
    margin-top: 135px;
    padding:96px 0;
    background: #FFFCF4;
}
.blogs .blog-top{
    text-align: center;
}
.blogs .blog-top .desc{
    margin-top: 16px;
    color: #696262;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    width: 448px;
    margin: 16px auto auto;
}
.blogs .blog-list{
    padding: 55px;
    display: flex;
    gap: 30px;
}
.blogs .item{
    width: 33.3%;
    border-radius: 16px;
    background: #FFF;
}
.blogs .item:hover{
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.blogs .item .thumb{
    width: 100%;
    border-radius: 16px 16px 0 0;
    height: 250px;
    object-fit: cover;
}
.blogs .info{
    padding: 20px  28px 28px;
}
.blogs .info .date{
    position: relative;
    display:inline-flex;
    align-items:center;
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
    padding-bottom: 12px;
}
.blogs .info .date::before{
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #FFB900;
    border-radius: 50%;
    margin-right: 4px;
    /* position: relative;
    top: -2px; */
}
.blogs .info .date::after{
    content: "";
    right: -27px;
    height: 1px;
    border-radius: 0.5px;
    background: #E2DFDA;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
}
.blogs .info .title a{
    display: inline-block;
    margin: 12px 0;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}
.blogs .info .btn:hover{
    background: var(--primary-color);
}
